@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body{
    overflow-y: scroll;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .8s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
